{% extends "base.html" %}

{% block title %}
Home	
{% endblock %}

{% block body %}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Вітаємо на нашому сайті!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Концепція сайту проста - сайт, де можна створювати пости, видаляти та редагувати їх. Також присутня база даних sqlite.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <body>
            <p><a href="/create-article"> <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Створити пост</button></a></p>
            <p><a href="/posts"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Переглянути створені пости</button></a></p>
           </body>
      </div>
    </div>
  </div>

{% endblock %}